// Colors
$primary-color: #151b3b;
$primary-color-light: lighten($primary-color, 10);
// $secondary-color: #e98830;
$secondary-color: #f88721;
$tertiary-color: #a16dde;

// Fonts
$primary-font: 'Roboto Serif', Georgia, serif;
$secondary-font: 'Inter', Verdana, sans-serif;