.contact {
  margin: 85vh 0 10vh 0;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-color;
  padding-bottom: 20%;
}

.contact-header::after {
  border: 3px dotted $secondary-color;
  background-color: $primary-color;
  top: -26px;
  left: 21px;
  z-index: -1;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  content: "";
}

.contact-container {
  padding: 10% 5%;
  display: flex;
  flex-direction: column;

  p {
    padding: 2rem 2rem 0.5rem;
  }

  div {
    display: flex;
    flex-direction: column;
		padding-top: 1.5rem;
  }

	ul {
		padding: 0;

		li {
			padding: 0.4rem 0;
			font-size: 1.2rem;
			cursor: pointer;
	
			i {
				padding-right: 0.6rem;
				color: $secondary-color;
			}
		}
	}
}

@media only screen and (min-width: 768px) {

	.contact-container {

		padding: 5%;

    div {
			justify-content: center;
			align-items: center;
      padding: 1.2em;
    }

		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			li {
				padding: 0.6rem;
			}
		}
  }

}

@media only screen and (min-width: 1024px) {

	.contact {
		margin: 85vh 0 0 0;
	}

  .contact-header::after {
    border: 3px dotted $secondary-color;
    background-color: $primary-color;
    top: -32px;
    left: 25px;
    z-index: -1;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    content: "";
  }

  .contact-container {
    background-color: $primary-color-light;
		max-width: 800px;

    div {
			justify-content: center;
			align-items: center;
      padding: 1.5em;
    }

		ul {
			display: flex;
			flex-wrap: wrap;

			li {
				padding: 0.6rem;
			}
		}

    li:hover {
      color: $secondary-color;
    }
  }

  .contact-container::after {
    background-color: $primary-color;
    border: 3px dotted $secondary-color;
    top: -35px;
    left: 30px;
    z-index: -1;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    content: "";
  }
}

@media only screen and (min-width: 1400px) {

	.contact {
		margin: 70vh 0 0 0;
	}
}
