.hero {
  background-color: $primary-color;
  height: 80vh;
  padding: 0 8%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: -1;
}

.hero-text {
  width: 100%;
  padding: 40% 0 10%;
  background-color: $primary-color;
  position: relative;
  display: block;

  p {
    margin: 0;
    padding: 0.8rem 1rem 0;
    line-height: 1.4rem;
    font-size: 1.1rem;
  }
}

.hero-greeting {
  font-family: $secondary-font;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 600;
}

.hero-intro {
  font-family: $secondary-font;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 600;
  text-align: end;
}

#name {
  font-size: 4rem;
  font-family: $primary-font;
  color: $secondary-color;
  letter-spacing: 0.2rem;
  margin: 0.4rem 0 0.8rem 0;
  display: block;
}

#portfolio {
  color: white;
}

@media only screen and (min-width: 768px) {
  .hero-text {
    padding: 30% 0 10%;
  }
}

@media only screen and (min-width: 1024px) {
  .hero-text {
    width: 70%;
    max-width: 660px;
    border: 2px solid $secondary-color;
    margin: 18% 0 auto 18%;
    padding: 3rem 2rem;
    background-color: $primary-color;
    position: relative;

    p {
      padding: 0;
    }
  }

  .hero-text::after {
    border: 3px dotted $secondary-color;
    top: -32px;
    left: 25px;
    z-index: -1;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    content: "";
  }
}

@media screen and (min-width: 1400px) {
	.hero-text {
		margin: 14% 0 auto 35%;
	}
	
}
